.cardBody {
    height: fit-content;
}

.cardHeight {
    height: 12.4375em;
    width: 15.9375em;
    border-radius: 15px;
}

.cardHeight:hover {
    background-color: #33397a;
    cursor: pointer;
}

.cardTitle {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 20px;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.3em;
    font-size: 18px;
    font-weight: 500;
}

.alignEnd {
    display: flex;
    justify-content: end;
}

.dots {
    color: #bbc0ff;
    font-size: 40px;
    letter-spacing: -3px;
    background-color: transparent;
    border: none;
    width: fit-content;
    font-family: "Roboto", serif;
}

.dots:hover {
    color: #ffffff;
    cursor: pointer;
}

.hours {
    font-size: 56px;
    font-weight: 300;
    margin: 0;
}

.previousHours {
    padding-top: 0.5em;
    font-size: 15px;
    font-weight: 400;
    color: #bbc0ff;
    margin: 0;
}

/* work-start */
.work {
    background-color: #ff8b64;
    border-radius: 15px;
}

.workHeader {
    text-align: end;
    height: 2.8125em;
    overflow: hidden;
    margin-right: 1em;
}

.workHeader img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px -10px;
}
/* work-end */

/* play-start */
.play {
    background-color: #55c2e6;
    border-radius: 15px;
}

.playHeader {
    text-align: end;
    height: 2.8125em;
    overflow: hidden;
    margin-right: 1em;
}

.playHeader img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px -5px;
}
/* play-end */

/* Study-start */
.study {
    background-color: #ff5e7d;
    border-radius: 15px;
}

.studyHeader {
    text-align: end;
    height: 2.8125em;
    overflow: hidden;
    margin-right: 1em;
}

.studyHeader img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px -8px;
}
/* study-end */

/* exercise-start */
.exercise {
    background-color: #4bcf82;
    border-radius: 15px;
}

.exerciseHeader {
    text-align: end;
    height: 2.8125em;
    overflow: hidden;
    margin-right: 1em;
}

.exerciseHeader img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px -1px;
}
/* exercise-end */

/* social-start */
.social {
    background-color: #7335d2;
    border-radius: 15px;
}

.socialHeader {
    text-align: end;
    height: 2.8125em;
    overflow: hidden;
    margin-right: 1em;
}

.socialHeader img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px -15px;
}
/* social-end */

/* self care-start */
.selfCare {
    background-color: #f1c75b;
    border-radius: 15px;
}

.selfCareHeader {
    text-align: end;
    height: 2.8125em;
    overflow: hidden;
    margin-right: 1em;
}

.selfCareHeader img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px -10px;
}
/* self care-end */